<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Sistema Gerenciador de Cadastro</title>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Sistema Gerenciador de Cadastro</h1>
		<hr>
		<h2>Cadastrar Stakeholder</h2>
		<form action="#" th:action="@{/saveStakeholder}" th:object="${stakeholder}" method="POST">
			<input type="text" th:field="*{atividade}" placeholder="Tipo de Atividade" class="form-control mb-4 col-4">
			<input type="text" th:field="*{responsavel}" placeholder="Resposável(eis)" class="form-control mb-4 col-4">
			<input type="date" th:field="*{dataInicio}" placeholder="Data de Início">
			<input type="date" th:field="*{dataFinal}" placeholder="Data de Término">
			<input type="number" th:field="*{dependencia}" placeholder="Dependência" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col2">Adicionar Stakeholder</button>
		</form>
		<hr>
		<a th:href="@{/}">Voltar para Tabela</a>
	</div>
</body>
</html>